[user]
    name = Olumuyiwa Oluwasanmi
    email = olumuyiwa.oluwasanmi@example.com

[init]
    defaultBranch = main

[core]
    editor = code --wait
    autocrlf = input

[push]
    default = simple
    autoSetupRemote = true

[pull]
    rebase = false

[alias]
    st = status
    co = checkout
    br = branch
    cm = commit
    lg = log --oneline --graph --decorate