- get_url:
    dest: /tmp/cmake-3.28.0.tar.gz
    url: https://github.com/Kitware/CMake/releases/download/v3.28.0/cmake-3.28.0.tar.gz
  name: Download CMake source
- name: Extract CMake source
  unarchive:
    dest: /tmp/
    remote_src: true
    src: /tmp/cmake-3.28.0.tar.gz
- args:
    chdir: /tmp/cmake-3.28.0
  command: ./bootstrap --prefix=/usr/local --parallel={{ ansible_processor_vcpus }}
  name: Configure CMake build
- args:
    chdir: /tmp/cmake-3.28.0
  command: make -j{{ ansible_processor_vcpus }}
  name: Build CMake
- args:
    chdir: /tmp/cmake-3.28.0
  command: make install
  name: Install CMake
